<div class="dual-list">
	<div class="listbox">
		<p>{{sourceName}}</p>
		<div class="record-picker">
			<ul [ngStyle]="{'max-height': height, 'min-height': height}" [ngClass]="{over:available.dragOver}"
				(drop)="drop($event, confirmed)" (dragover)="allowDrop($event, available)" (dragleave)="dragLeave()">
				<li *ngFor="let item of available.sift; let idx=index;"
					(click)="selectItem(available.pick, item); shiftClick($event, idx, available, item)"
					[ngClass]="{selected: isItemSelected(available.pick, item)}" draggable="true"
					(dragstart)="drag($event, item, available)" (dragend)="dragEnd(available)"
					(mouseenter)="hover(item)"><label>{{item._name}}</label>

					<span class="dynamic-tooltip">
						{{tooltip}}
					</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="buttonbox">
		<button type="button" class="btn btn-primary btn-block" (click)="moveItem(available, confirmed)"
			[disabled]="available.pick.length === 0"><i class="fa fa-arrow-right"></i></button>

		<button type="button" class="btn btn-primary btn-block" (click)="moveAll()"
			[disabled]="isAllSelected(available)"><i class="fa fa-arrow-right"></i><i
				class="fa fa-arrow-right"></i></button>


		<button type="button" class="btn btn-primary btn-block" (click)="moveItem(confirmed, available)"
			[disabled]="confirmed.pick.length === 0"><i class="fa fa-arrow-left"></i></button>

		<button type="button" class="btn btn-primary btn-block" (click)="removeAll()"
			[disabled]="isAllSelected(confirmed)"><i class="fa fa-arrow-left"></i><i
				class="fa fa-arrow-left"></i></button>

	</div>

	<div class="listbox">
		<p>{{targetName}}</p>
		<div class="record-picker">
			<ul [ngStyle]="{'max-height': height, 'min-height': height}" [ngClass]="{over:confirmed.dragOver}"
				(drop)="drop($event, available)" (dragover)="allowDrop($event, confirmed)" (dragleave)="dragLeave()">
				<li *ngFor="let item of confirmed.sift; let idx=index;"
					(click)="selectItem(available.pick, item); shiftClick($event, idx, available, item)"
					[ngClass]="{selected: isItemSelected(available.pick, item)}" draggable="true"
					(dragstart)="drag($event, item, available)" (dragend)="dragEnd(available)"
					(mouseenter)="hover(item)">
					<label>{{item._name}}</label>

					<span class="dynamic-tooltip">
						{{tooltip}}
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>
